In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from acquire import get_titanic_data

from prepare_cu import prep_titanic
import warnings
warnings.filterwarnings('ignore')
from sklearn.tree import export_graphviz
import graphviz

In [2]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, precision_score, recall_score

In [3]:
# acquire the data
df = get_titanic_data()

# prepare the data
train, validate, test = prep_titanic(df)

In [4]:
train.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone,Q,S
583,583,0,1,male,36.000000,0,0,40.1250,C,First,Cherbourg,1,0,0
337,337,1,1,female,41.000000,0,0,134.5000,C,First,Cherbourg,1,0,0
50,50,0,3,male,7.000000,4,1,39.6875,S,Third,Southampton,0,0,1
218,218,1,1,female,32.000000,0,0,76.2917,C,First,Cherbourg,1,0,0
31,31,1,1,female,29.916875,1,0,146.5208,C,First,Cherbourg,0,0,0

In [5]:
# drop out non-numerical columns or non-encoded version remaining in this data set
drops = ['sex', 'class','embarked', 'embark_town', 'passenger_id']

In [6]:
[dataset.drop(columns=drops, inplace=True) for dataset in [train, validate, test]]

[None, None, None]

In [7]:
train.head()

     survived  pclass        age  sibsp  parch      fare  alone  Q  S
583         0       1  36.000000      0      0   40.1250      1  0  0
337         1       1  41.000000      0      0  134.5000      1  0  0
50          0       3   7.000000      4      1   39.6875      0  0  1
218         1       1  32.000000      0      0   76.2917      1  0  0
31          1       1  29.916875      1      0  146.5208      0  0  0

In [8]:
# Decision Tree Classifier Model will predict survival

# Decision Tree Exercises
 - https://ds.codeup.com/classification/decision-trees/#installing-graphviz

# 1. What is your baseline prediction? What is your baseline accuracy?
- Baseline prediction is 62% accuracy when always predicting death

In [9]:
# obtain our mode
train.survived.value_counts()

0    307
1    190
Name: survived, dtype: int64

In [10]:
#baseline is death = 0 as there are 307 deaths (mode) and only 190 suvivors
train['baseline_death'] = 0

In [11]:
train.head()

,survived,pclass,age,sibsp,parch,fare,alone,Q,S,baseline_death
583,0,1,36.000000,0,0,40.1250,1,0,0,0
337,1,1,41.000000,0,0,134.5000,1,0,0,0
50,0,3,7.000000,4,1,39.6875,0,0,1,0
218,1,1,32.000000,0,0,76.2917,1,0,0,0
31,1,1,29.916875,1,0,146.5208,0,0,0,0

In [12]:
print(f'Our baseline accuracy for nonsurvival in all cases on the Titanic Dataset is {(train.baseline_death == train.survived).mean():.3}')

Our baseline accuracy for nonsurvival in all cases on the Titanic Dataset is 0.618

In [13]:
baseline_class_report = classification_report(train.survived, train.baseline_death, zero_division=True)
print(baseline_class_report)

              precision    recall  f1-score   support

           0       0.62      1.00      0.76       307
           1       1.00      0.00      0.00       190

    accuracy                           0.62       497
   macro avg       0.81      0.50      0.38       497
weighted avg       0.76      0.62      0.47       497

# 2. Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)

In [14]:
#create the model
dtc = DecisionTreeClassifier()

In [64]:
# remove baseline assumption from the train
train.drop(columns='baseline_death', inplace=True)

KeyError: "['baseline_death'] not found in axis"

In [21]:
#split our X and y
X_train = train.drop(columns='survived')
y_train = train[['survived']]

In [23]:
# fit the model
dtc.fit(X_train, y_train)

DecisionTreeClassifier()

In [24]:
# designate our X and y
X = X_train
y = y_train

In [28]:
accuracy = dtc.score(X, y)
y_pred = dtc.predict(X)
conf = confusion_matrix(y, y_pred)
#class report
class_report = pd.DataFrame(classification_report(y, y_pred, output_dict=True)).T
conf = confusion_matrix(y, y_pred)
#true positive rate
tpr = conf[1][1] / conf[1].sum()
#false positvive rate
fpr = conf[0][1] / conf[0].sum()
#true negative rate
tnr = conf[0][0] / conf[0].sum()
#false negative rate
fnr = conf[1][0] / conf[1].sum()

print(f'''
The accuracy for our model is {accuracy:.4}
The True Positive Rate is {tpr:.3}, The False Positive Rate is {fpr:.3},
The True Negative Rate is {tnr:.3}, and the False Negative Rate is {fnr:.3}
''')
class_report

The accuracy for our model is 0.9738
The True Positive Rate is 0.968, The False Positive Rate is 0.0228,
The True Negative Rate is 0.977, and the False Negative Rate is 0.0316

              precision    recall  f1-score     support
0              0.980392  0.977199  0.978793  307.000000
1              0.963351  0.968421  0.965879  190.000000
accuracy       0.973843  0.973843  0.973843    0.973843
macro avg      0.971871  0.972810  0.972336  497.000000
weighted avg   0.973877  0.973843  0.973856  497.000000

# 3. Evaluate your in-sample results using the model score, confusion matrix, and classification report.

In [29]:
# use the model to predict
#dtc
y_pred = dtc.predict(X_train)

In [30]:
# check the values in the predictions
pd.Series(y_pred).value_counts()

0    306
1    191
dtype: int64

In [31]:
# model score: accuracy
accuracy = dtc.score(X_train, y_train)

In [32]:
accuracy

0.9738430583501007

In [33]:
# confusion matrix
conf = confusion_matrix(y_train, y_pred)

In [34]:
conf

array([[300,   7],
       [  6, 184]])

In [35]:
# get the classification report
class_report = classification_report(y_train, y_pred, output_dict=True)

In [36]:
class_report

{'0': {'precision': 0.9803921568627451,
  'recall': 0.9771986970684039,
  'f1-score': 0.9787928221859705,
  'support': 307},
 '1': {'precision': 0.9633507853403142,
  'recall': 0.968421052631579,
  'f1-score': 0.9658792650918635,
  'support': 190},
 'accuracy': 0.9738430583501007,
 'macro avg': {'precision': 0.9718714711015296,
  'recall': 0.9728098748499914,
  'f1-score': 0.972336043638917,
  'support': 497},
 'weighted avg': {'precision': 0.9738773468239887,
  'recall': 0.9738430583501007,
  'f1-score': 0.9738560498562314,
  'support': 497}}

In [37]:
pd.DataFrame(class_report).rename(columns={'0': 'deceased', '1': 'survived'}).T

              precision    recall  f1-score     support
deceased       0.980392  0.977199  0.978793  307.000000
survived       0.963351  0.968421  0.965879  190.000000
accuracy       0.973843  0.973843  0.973843    0.973843
macro avg      0.971871  0.972810  0.972336  497.000000
weighted avg   0.973877  0.973843  0.973856  497.000000

# 4. Compute: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [38]:
conf

array([[300,   7],
       [  6, 184]])

In [39]:
# turn our confusio matrix into a dataframe for uman legibility:
conf_df = pd.DataFrame(conf, columns=['predict death', 'predict_survive'], index=['actual_death', 'actual_survive'])

In [40]:
conf_df

                predict death  predict_survive
actual_death              300                7
actual_survive              6              184

In [45]:
# make a key for reference
rubric_df = pd.DataFrame([['true negative', 'false positive'],['false negative', 'true positive']], columns=['predict_death', 'predict_survive'], index=['actual_death', 'actual_survive'])

In [46]:
rubric_df

                 predict_death predict_survive
actual_death     true negative  false positive
actual_survive  false negative   true positive

In [47]:
joined = pd.concat([conf_df, rubric_df], axis=1)

In [48]:
rubric_df + ':'+ conf_df.values.astype(str)

                    predict_death    predict_survive
actual_death    true negative:300   false positive:7
actual_survive   false negative:6  true positive:184

# 5. Run through steps 2-4 using a different max_depth value.

In [49]:
#dtc2
dtc2 = DecisionTreeClassifier(max_depth=3)

In [ ]:
# fit the model

In [50]:
dtc2.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=3)

In [51]:
y_pred = dtc2.predict(X_train)

# 6. Which model performs better on your in-sample data?

In [53]:
# Model #1:
accuracy = dtc.score(X, y)
y_pred = dtc.predict(X)
conf = confusion_matrix(y, y_pred)
class_report = pd.DataFrame(classification_report(y, y_pred, output_dict=True)).T
conf = confusion_matrix(y, y_pred)
tpr = conf[1][1] / conf[1].sum()
fpr = conf[0][1] / conf[0].sum()
tnr = conf[0][0] / conf[0].sum()
fnr = conf[1][0] / conf[1].sum()
print(f'''
The accuracy for our model is {accuracy:.4}
The True Positive Rate is {tpr:.3}, The False Positive Rate is {fpr:.3},
The True Negative Rate is {tnr:.3}, and the False Negative Rate is {fnr:.3}
''')
class_report

The accuracy for our model is 0.9738
The True Positive Rate is 0.968, The False Positive Rate is 0.0228,
The True Negative Rate is 0.977, and the False Negative Rate is 0.0316

              precision    recall  f1-score     support
0              0.980392  0.977199  0.978793  307.000000
1              0.963351  0.968421  0.965879  190.000000
accuracy       0.973843  0.973843  0.973843    0.973843
macro avg      0.971871  0.972810  0.972336  497.000000
weighted avg   0.973877  0.973843  0.973856  497.000000

In [54]:

# Model #2:
accuracy = dtc2.score(X, y)
y_pred = dtc2.predict(X)
conf = confusion_matrix(y, y_pred)
class_report = pd.DataFrame(classification_report(y, y_pred, output_dict=True)).T
conf = confusion_matrix(y, y_pred)
tpr = conf[1][1] / conf[1].sum()
fpr = conf[0][1] / conf[0].sum()
tnr = conf[0][0] / conf[0].sum()
fnr = conf[1][0] / conf[1].sum()
print(f'''
The accuracy for our model is {accuracy:.4}
The True Positive Rate is {tpr:.3}, The False Positive Rate is {fpr:.3},
The True Negative Rate is {tnr:.3}, and the False Negative Rate is {fnr:.3}
''')
class_report

The accuracy for our model is 0.7123
The True Positive Rate is 0.342, The False Positive Rate is 0.0586,
The True Negative Rate is 0.941, and the False Negative Rate is 0.658

              precision    recall  f1-score     support
0              0.698068  0.941368  0.801664  307.000000
1              0.783133  0.342105  0.476190  190.000000
accuracy       0.712274  0.712274  0.712274    0.712274
macro avg      0.740600  0.641737  0.638927  497.000000
weighted avg   0.730587  0.712274  0.677238  497.000000

# 7. Which model performs best on your out-of-sample data, the validate set?

In [55]:
# get predictions for our validation sets
y_val_pred_1 = dtc.predict(validate.drop(columns='survived'))
y_val_pred_2 = dtc2.predict(validate.drop(columns='survived'))

In [59]:
# get validation accuracy
accuracy_v_1 = dtc.score(validate.drop(columns='survived'), validate.survived)
accuracy_v_2 = dtc2.score(validate.drop(columns='survived'), validate.survived)

In [60]:
# model 1
accuracy_v_1

0.6869158878504673

In [62]:
# model 2
accuracy_v_2

0.7102803738317757

In [64]:

dot_data = export_graphviz(dtc2, feature_names= X_train.columns, rounded=True, filled=True, out_file=None)
graph = graphviz.Source(dot_data)

In [67]:
graph.render('titanic_model_2_tree', view=True)

'titanic_model_2_tree.pdf'

In [68]:

dot_data = export_graphviz(dtc, feature_names= X_train.columns, rounded=True, filled=True, out_file=None)
graph = graphviz.Source(dot_data)

In [69]:
graph.render('titanic_model_1_tree', view=True)

'titanic_model_1_tree.pdf'

# Random Forrest Exercises
    - https://ds.codeup.com/classification/random-forests/

1. Fit the Random Forest classifier to your training sample and transform (i.e. make predictions on the training sample) setting the random_state accordingly and setting min_samples_leaf = 1 and max_depth = 10.

In [2]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from acquire_cu import get_titanic_data
from prepare_cu import prep_titanic
import warnings
warnings.filterwarnings('ignore')

In [3]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, precision_score, recall_score

In [4]:
#acquire the data
df = get_titanic_data()
#prepare the data
train, validate, test = prep_titanic(df)

In [5]:
train.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone,Q,S
583,583,0,1,male,36.000000,0,0,40.1250,C,First,Cherbourg,1,0,0
337,337,1,1,female,41.000000,0,0,134.5000,C,First,Cherbourg,1,0,0
50,50,0,3,male,7.000000,4,1,39.6875,S,Third,Southampton,0,0,1
218,218,1,1,female,32.000000,0,0,76.2917,C,First,Cherbourg,1,0,0
31,31,1,1,female,29.916875,1,0,146.5208,C,First,Cherbourg,0,0,0

In [6]:
# Drop any non-numerical columns in the data set
drops = ['sex', 'class', 'embarked', 'embark_town', 'passenger_id']

In [7]:
for dataset in [train, validate, test]: 
    dataset.drop(columns=drops, inplace=True)

In [8]:
train.head()

     survived  pclass        age  sibsp  parch      fare  alone  Q  S
583         0       1  36.000000      0      0   40.1250      1  0  0
337         1       1  41.000000      0      0  134.5000      1  0  0
50          0       3   7.000000      4      1   39.6875      0  0  1
218         1       1  32.000000      0      0   76.2917      1  0  0
31          1       1  29.916875      1      0  146.5208      0  0  0

In [39]:
#create baseline is at 62 %
baseline = (y_train.value_counts().idxmax() == y_train).mean()
baseline

0.6177062374245473

In [40]:
# Create Random Forrest Model

clf = RandomForestClassifier(min_samples_leaf = 1, max_depth = 10, random_state = 1349)

In [41]:
#fit the model after splitting our X and y
X_train, y_train = train.drop(columns='survived'), train.survived

In [42]:
# fit the thing
clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=10, random_state=1349)

In [65]:
# use the thing
y_pred = clf.predict(X_train)

# 2. Evaluate your results using the model score, confusion matrix, and classification report.

# 3. Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [66]:
clf_score = clf.score(X_train, y_train)
conf = confusion_matrix(y_train, y_pred)
tpr = conf[1][1] / conf[1].sum()
fpr = conf[0][1] / conf[0].sum()
tnr = conf[0][0] / conf[0].sum()
fnr = conf[1][0] / conf[1].sum()
print(f'''
    The accuracy for our model is {clf_score:.4}
    The True Positive Rate is {tpr:.3}, The False Positive Rate is {fpr:.3},
    The True Negative Rate is {tnr:.3}, and the False Negative Rate is {fnr:.3}
    ''')
pd.DataFrame(classification_report(y_train, y_pred, output_dict=True))

    The accuracy for our model is 0.9276
    The True Positive Rate is 0.868, The False Positive Rate is 0.0358,
    The True Negative Rate is 0.964, and the False Negative Rate is 0.132

                    0           1  accuracy   macro avg  weighted avg
precision    0.922118    0.937500  0.927565    0.929809      0.927999
recall       0.964169    0.868421  0.927565    0.916295      0.927565
f1-score     0.942675    0.901639  0.927565    0.922157      0.926987
support    307.000000  190.000000  0.927565  497.000000    497.000000

# 4. Run through steps increasing your min_samples_leaf and decreasing your max_depth.

In [67]:
# Create Random Forest Model

clf1 = RandomForestClassifier(min_samples_leaf=3, max_depth=3, random_state=1349)

In [68]:
# Fit the model
clf1.fit(X_train, y_train)

RandomForestClassifier(max_depth=3, min_samples_leaf=3, random_state=1349)

In [69]:
y_pred1 = clf1.predict(X_train)
clf_score = clf1.score(X_train, y_train)
conf = confusion_matrix(y_train, y_pred1)
tpr = conf[1][1] / conf[1].sum()
fpr = conf[0][1] / conf[0].sum()
tnr = conf[0][0] / conf[0].sum()
fnr = conf[1][0] / conf[1].sum()
print(f'''
    The accuracy for our model is {clf_score:.4}
    The True Positive Rate is {tpr:.3}, The False Positive Rate is {fpr:.3},
    The True Negative Rate is {tnr:.3}, and the False Negative Rate is {fnr:.3}
    ''')
pd.DataFrame(classification_report(y_train, y_pred, output_dict=True))

    The accuracy for our model is 0.7525
    The True Positive Rate is 0.537, The False Positive Rate is 0.114,
    The True Negative Rate is 0.886, and the False Negative Rate is 0.463

                    0           1  accuracy   macro avg  weighted avg
precision    0.922118    0.937500  0.927565    0.929809      0.927999
recall       0.964169    0.868421  0.927565    0.916295      0.927565
f1-score     0.942675    0.901639  0.927565    0.922157      0.926987
support    307.000000  190.000000  0.927565  497.000000    497.000000

In [70]:
X_val, y_val = validate.drop(columns='survived'), validate.survived

In [71]:
print('Model #1: min samples 1, max depth 10: ON VALIDATE SET')
clf_score = clf.score(X_val, y_val)
y_pred_val = clf.predict(X_val)
conf = confusion_matrix(y_val, y_pred_val)
tpr = conf[1][1] / conf[1].sum()
fpr = conf[0][1] / conf[0].sum()
tnr = conf[0][0] / conf[0].sum()
fnr = conf[1][0] / conf[1].sum()
print(f'''
    The accuracy for our model is {clf_score:.4}
    The True Positive Rate is {tpr:.3}, The False Positive Rate is {fpr:.3},
    The True Negative Rate is {tnr:.3}, and the False Negative Rate is {fnr:.3}
    ''')
print('-------------------------------------------\n Model #2: min samples 3, max_depth 3 : ON VALIDATE SET\n')
clf_score = clf1.score(X_val, y_val)
y_pred_val1 = clf1.predict(X_val)
conf = confusion_matrix(y_val, y_pred_val1)
tpr = conf[1][1] / conf[1].sum()
fpr = conf[0][1] / conf[0].sum()
tnr = conf[0][0] / conf[0].sum()
fnr = conf[1][0] / conf[1].sum()
print(f'''
    The accuracy for our model is {clf_score:.4}
    The True Positive Rate is {tpr:.3}, The False Positive Rate is {fpr:.3},
    The True Negative Rate is {tnr:.3}, and the False Negative Rate is {fnr:.3}
    ''')

Model #1: min samples 1, max depth 10: ON VALIDATE SET

    The accuracy for our model is 0.7617
    The True Positive Rate is 0.646, The False Positive Rate is 0.167,
    The True Negative Rate is 0.833, and the False Negative Rate is 0.354

-------------------------------------------
 Model #2: min samples 3, max_depth 3 : ON VALIDATE SET


    The accuracy for our model is 0.743
    The True Positive Rate is 0.5, The False Positive Rate is 0.106,
    The True Negative Rate is 0.894, and the False Negative Rate is 0.5

# 5. What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?

In [72]:
conf = confusion_matrix(y_train, y_pred)

In [73]:
conf

array([[296,  11],
       [ 25, 165]])

In [74]:
# key for reference
rubric_df = pd.DataFrame([['true negative', 'false positive'],['false negative', 'true positive']], columns=['predict_death', 'predict_survive'], index=['actual_death', 'actual_survive'])

In [75]:
rubric_df

                 predict_death predict_survive
actual_death     true negative  false positive
actual_survive  false negative   true positive

# 6. After making a few models, which one has the best performance (or closest metrics) on both train and validate?

In [76]:
clf.predict_proba(X_train)

array([[0.70104785, 0.29895215],
       [0.06711869, 0.93288131],
       [0.9758    , 0.0242    ],
       [0.10064358, 0.89935642],
       [0.0443181 , 0.9556819 ],
       [0.68404055, 0.31595945],
       [0.47006918, 0.52993082],
       [0.67405366, 0.32594634],
       [0.45560234, 0.54439766],
       [1.        , 0.        ],
       [0.82134381, 0.17865619],
       [0.89806093, 0.10193907],
       [0.13108025, 0.86891975],
       [0.59453012, 0.40546988],
       [0.60759589, 0.39240411],
       [0.38816308, 0.61183692],
       [0.93794664, 0.06205336],
       [0.18171429, 0.81828571],
       [0.5230589 , 0.4769411 ],
       [0.78048702, 0.21951298],
       [0.13383776, 0.86616224],
       [0.82246706, 0.17753294],
       [0.2079232 , 0.7920768 ],
       [0.19833333, 0.80166667],
       [0.38900423, 0.61099577],
       [0.93237155, 0.06762845],
       [0.12313969, 0.87686031],
       [0.77758204, 0.22241796],
       [0.58227628, 0.41772372],
       [0.67053517, 0.32946483],
       [0.85851765, 0.14148235],
       [0.75484745, 0.24515255],
       [0.92370488, 0.07629512],
       [0.04768984, 0.95231016],
       [0.22601563, 0.77398437],
       [0.18027778, 0.81972222],
       [0.74415807, 0.25584193],
       [0.0596152 , 0.9403848 ],
       [0.79486773, 0.20513227],
       [0.73784029, 0.26215971],
       [0.86005014, 0.13994986],
       [0.81075661, 0.18924339],
       [0.90496667, 0.09503333],
       [0.37851492, 0.62148508],
       [0.5731157 , 0.4268843 ],
       [0.93241277, 0.06758723],
       [0.45560234, 0.54439766],
       [0.90088236, 0.09911764],
       [0.5731029 , 0.4268971 ],
       [0.7666286 , 0.2333714 ],
       [0.91547289, 0.08452711],
       [0.84069255, 0.15930745],
       [0.16117767, 0.83882233],
       [0.05594747, 0.94405253],
       [0.59250786, 0.40749214],
       [0.45560234, 0.54439766],
       [0.83666942, 0.16333058],
       [0.17482381, 0.82517619],
       [0.34008241, 0.65991759],
       [0.92063425, 0.07936575],
       [0.70071813, 0.29928187],
       [0.9378264 , 0.0621736 ],
       [0.98718893, 0.01281107],
       [0.63788704, 0.36211296],
       [0.73349848, 0.26650152],
       [0.45560234, 0.54439766],
       [0.08295586, 0.91704414],
       [0.97817787, 0.02182213],
       [0.17611851, 0.82388149],
       [0.07955   , 0.92045   ],
       [0.94      , 0.06      ],
       [0.94876677, 0.05123323],
       [0.14183408, 0.85816592],
       [0.23233633, 0.76766367],
       [0.45560234, 0.54439766],
       [0.82846273, 0.17153727],
       [0.88996544, 0.11003456],
       [0.88497769, 0.11502231],
       [0.85356935, 0.14643065],
       [0.45560234, 0.54439766],
       [0.55264654, 0.44735346],
       [0.01562189, 0.98437811],
       [0.9814894 , 0.0185106 ],
       [0.59250786, 0.40749214],
       [0.90834427, 0.09165573],
       [0.69828571, 0.30171429],
       [0.55339281, 0.44660719],
       [0.08962624, 0.91037376],
       [0.05516855, 0.94483145],
       [0.88497769, 0.11502231],
       [0.9507045 , 0.0492955 ],
       [0.45560234, 0.54439766],
       [0.23229147, 0.76770853],
       [0.05853477, 0.94146523],
       [0.62384949, 0.37615051],
       [0.92561734, 0.07438266],
       [0.18691687, 0.81308313],
       [0.81784127, 0.18215873],
       [0.82209022, 0.17790978],
       [0.57422022, 0.42577978],
       [0.9076779 , 0.0923221 ],
       [0.73552381, 0.26447619],
       [0.24772643, 0.75227357],
       [0.92075841, 0.07924159],
       [0.62229437, 0.37770563],
       [0.09444455, 0.90555545],
       [0.87077778, 0.12922222],
       [0.08586666, 0.91413334],
       [0.93498531, 0.06501469],
       [0.92047293, 0.07952707],
       [0.11232749, 0.88767251],
       [0.12612082, 0.87387918],
       [0.78427497, 0.21572503],
       [0.87136462, 0.12863538],
       [0.93579263, 0.06420737],
       [0.17899516, 0.82100484],
       [1.        , 0.        ],
       [0.85130215, 0.14869785],
       [0.08194455, 0.91805545],
       [0.17710255, 0.82289745],
       [0.83302659, 0.16697341],
       [0.98857143, 0.01142857],
       [0.45745595, 0.54254405],
       [0.90769791, 0.09230209],
       [0.44776311, 0.55223689],
       [0.48610091, 0.51389909],
       [0.5230589 , 0.4769411 ],
       [0.66000158, 0.33999842],
       [0.48255263, 0.51744737],
       [0.9358    , 0.0642    ],
       [0.06407323, 0.93592677],
       [0.89978306, 0.10021694],
       [0.9808    , 0.0192    ],
       [0.3192716 , 0.6807284 ],
       [0.66505911, 0.33494089],
       [0.88202362, 0.11797638],
       [0.89716117, 0.10283883],
       [0.93794664, 0.06205336],
       [0.52714657, 0.47285343],
       [0.66445971, 0.33554029],
       [0.34893111, 0.65106889],
       [0.5968727 , 0.4031273 ],
       [0.72762096, 0.27237904],
       [0.88293763, 0.11706237],
       [0.7845821 , 0.2154179 ],
       [0.16068023, 0.83931977],
       [0.217675  , 0.782325  ],
       [0.51473801, 0.48526199],
       [0.09414863, 0.90585137],
       [0.4328094 , 0.5671906 ],
       [0.9378264 , 0.0621736 ],
       [0.37540969, 0.62459031],
       [0.1397112 , 0.8602888 ],
       [0.94167187, 0.05832813],
       [0.75353488, 0.24646512],
       [0.25075372, 0.74924628],
       [0.95738845, 0.04261155],
       [0.94167187, 0.05832813],
       [0.38900423, 0.61099577],
       [0.96150371, 0.03849629],
       [0.88084127, 0.11915873],
       [0.36633433, 0.63366567],
       [0.72333117, 0.27666883],
       [0.51597755, 0.48402245],
       [0.93083705, 0.06916295],
       [0.98016291, 0.01983709],
       [0.98      , 0.02      ],
       [0.81130215, 0.18869785],
       [0.75629929, 0.24370071],
       [0.9814894 , 0.0185106 ],
       [0.76486901, 0.23513099],
       [0.0690814 , 0.9309186 ],
       [0.13113768, 0.86886232],
       [0.8510878 , 0.1489122 ],
       [0.81907075, 0.18092925],
       [0.87914557, 0.12085443],
       [0.75741964, 0.24258036],
       [0.9935246 , 0.0064754 ],
       [0.97498246, 0.02501754],
       [0.61889703, 0.38110297],
       [0.92533426, 0.07466574],
       [0.94876677, 0.05123323],
       [0.91715647, 0.08284353],
       [0.4417864 , 0.5582136 ],
       [0.92047293, 0.07952707],
       [0.7787234 , 0.2212766 ],
       [0.81601526, 0.18398474],
       [0.10035952, 0.89964048],
       [0.89692308, 0.10307692],
       [0.63237491, 0.36762509],
       [0.75730758, 0.24269242],
       [0.07090959, 0.92909041],
       [0.94120771, 0.05879229],
       [0.89053325, 0.10946675],
       [0.02482778, 0.97517222],
       [0.01316111, 0.98683889],
       [0.73405217, 0.26594783],
       [0.27488624, 0.72511376],
       [0.90601504, 0.09398496],
       [0.91662937, 0.08337063],
       [1.        , 0.        ],
       [0.2833677 , 0.7166323 ],
       [0.05338055, 0.94661945],
       [0.92555538, 0.07444462],
       [0.79905518, 0.20094482],
       [0.9814894 , 0.0185106 ],
       [0.80328602, 0.19671398],
       [0.61784644, 0.38215356],
       [0.93794664, 0.06205336],
       [0.38895184, 0.61104816],
       [0.87870632, 0.12129368],
       [0.94876677, 0.05123323],
       [0.70705721, 0.29294279],
       [0.56743186, 0.43256814],
       [0.23939524, 0.76060476],
       [0.11685076, 0.88314924],
       [0.91169879, 0.08830121],
       [0.88293763, 0.11706237],
       [0.29632334, 0.70367666],
       [0.98259679, 0.01740321],
       [0.54540655, 0.45459345],
       [0.93794664, 0.06205336],
       [0.82072969, 0.17927031],
       [0.30041715, 0.69958285],
       [0.99857143, 0.00142857],
       [0.9507045 , 0.0492955 ],
       [0.54725408, 0.45274592],
       [0.31731815, 0.68268185],
       [0.90438994, 0.09561006],
       [0.26002441, 0.73997559],
       [0.62857944, 0.37142056],
       [0.88003061, 0.11996939],
       [0.92047293, 0.07952707],
       [0.84716342, 0.15283658],
       [0.91662937, 0.08337063],
       [0.26687433, 0.73312567],
       [0.265     , 0.735     ],
       [0.98718893, 0.01281107],
       [0.88382842, 0.11617158],
       [0.97746667, 0.02253333],
       [0.94120771, 0.05879229],
       [0.93794664, 0.06205336],
       [0.11741028, 0.88258972],
       [0.17667717, 0.82332283],
       [0.02062189, 0.97937811],
       [0.98857143, 0.01142857],
       [0.06407323, 0.93592677],
       [0.96220092, 0.03779908],
       [0.2254543 , 0.7745457 ],
       [0.45560234, 0.54439766],
       [0.80188818, 0.19811182],
       [0.5180364 , 0.4819636 ],
       [0.92378443, 0.07621557],
       [0.3325494 , 0.6674506 ],
       [0.70717819, 0.29282181],
       [0.33181818, 0.66818182],
       [0.94959875, 0.05040125],
       [0.07197777, 0.92802223],
       [0.10939258, 0.89060742],
       [0.40738353, 0.59261647],
       [0.53187622, 0.46812378],
       [0.87577115, 0.12422885],
       [0.22395145, 0.77604855],
       [0.63011331, 0.36988669],
       [0.9814894 , 0.0185106 ],
       [0.87082968, 0.12917032],
       [0.96416667, 0.03583333],
       [0.33212895, 0.66787105],
       [0.93498531, 0.06501469],
       [0.85190868, 0.14809132],
       [0.86302395, 0.13697605],
       [0.70692399, 0.29307601],
       [0.96470405, 0.03529595],
       [0.49127534, 0.50872466],
       [1.        , 0.        ],
       [0.95651534, 0.04348466],
       [0.84119107, 0.15880893],
       [0.93794664, 0.06205336],
       [0.93794664, 0.06205336],
       [0.92925282, 0.07074718],
       [0.92925282, 0.07074718],
       [0.45560234, 0.54439766],
       [0.69318588, 0.30681412],
       [0.51145258, 0.48854742],
       [0.8457094 , 0.1542906 ],
       [0.85846304, 0.14153696],
       [0.16907323, 0.83092677],
       [0.53187622, 0.46812378],
       [0.70665152, 0.29334848],
       [0.77695759, 0.22304241],
       [0.86943559, 0.13056441],
       [0.80548335, 0.19451665],
       [0.93794664, 0.06205336],
       [0.95470405, 0.04529595],
       [0.61184565, 0.38815435],
       [0.05517808, 0.94482192],
       [0.72478512, 0.27521488],
       [0.90438994, 0.09561006],
       [0.97      , 0.03      ],
       [0.96558151, 0.03441849],
       [0.16176498, 0.83823502],
       [0.86005014, 0.13994986],
       [0.96750371, 0.03249629],
       [0.08356666, 0.91643334],
       [0.92378443, 0.07621557],
       [0.86806093, 0.13193907],
       [0.22714141, 0.77285859],
       [0.94876677, 0.05123323],
       [0.80585382, 0.19414618],
       [0.65456825, 0.34543175],
       [0.89053325, 0.10946675],
       [0.85656411, 0.14343589],
       [0.929862  , 0.070138  ],
       [0.31873585, 0.68126415],
       [0.9708    , 0.0292    ],
       [0.90494398, 0.09505602],
       [0.94876677, 0.05123323],
       [0.0847697 , 0.9152303 ],
       [0.14621739, 0.85378261],
       [0.99711012, 0.00288988],
       [0.95514332, 0.04485668],
       [0.88545459, 0.11454541],
       [0.42539182, 0.57460818],
       [0.71172434, 0.28827566],
       [0.83474629, 0.16525371],
       [0.46478376, 0.53521624],
       [0.30275502, 0.69724498],
       [0.3467012 , 0.6532988 ],
       [0.13561625, 0.86438375],
       [0.10276596, 0.89723404],
       [0.95249611, 0.04750389],
       [0.5230589 , 0.4769411 ],
       [0.16155   , 0.83845   ],
       [0.07372013, 0.92627987],
       [0.13108025, 0.86891975],
       [0.43168132, 0.56831868],
       [0.96246667, 0.03753333],
       [0.09195758, 0.90804242],
       [0.84069255, 0.15930745],
       [0.32905365, 0.67094635],
       [0.71822338, 0.28177662],
       [0.04768984, 0.95231016],
       [0.11117098, 0.88882902],
       [0.23920481, 0.76079519],
       [0.88005276, 0.11994724],
       [0.2565246 , 0.7434754 ],
       [0.85846304, 0.14153696],
       [0.66274864, 0.33725136],
       [0.5747074 , 0.4252926 ],
       [0.90306093, 0.09693907],
       [0.23662333, 0.76337667],
       [0.88084127, 0.11915873],
       [0.5815418 , 0.4184582 ],
       [0.31224799, 0.68775201],
       [0.08194455, 0.91805545],
       [0.10326172, 0.89673828],
       [0.10294179, 0.89705821],
       [0.9358    , 0.0642    ],
       [0.90494398, 0.09505602],
       [0.20618806, 0.79381194],
       [0.93849144, 0.06150856],
       [0.25165152, 0.74834848],
       [0.0468181 , 0.9531819 ],
       [0.75256818, 0.24743182],
       [0.89992115, 0.10007885],
       [0.47637323, 0.52362677],
       [0.21274688, 0.78725312],
       [0.96484454, 0.03515546],
       [0.9858    , 0.0142    ],
       [0.48602974, 0.51397026],
       [0.89053325, 0.10946675],
       [0.77441417, 0.22558583],
       [0.82246706, 0.17753294],
       [0.71000691, 0.28999309],
       [0.26737577, 0.73262423],
       [0.91169879, 0.08830121],
       [0.09639013, 0.90360987],
       [0.68659382, 0.31340618],
       [0.1591506 , 0.8408494 ],
       [0.36902413, 0.63097587],
       [0.29395835, 0.70604165],
       [0.42539182, 0.57460818],
       [0.26203571, 0.73796429],
       [0.9296812 , 0.0703188 ],
       [0.62201558, 0.37798442],
       [0.27640638, 0.72359362],
       [0.98862949, 0.01137051],
       [0.46502082, 0.53497918],
       [0.68147475, 0.31852525],
       [0.81032248, 0.18967752],
       [0.9888734 , 0.0111266 ],
       [0.05356666, 0.94643334],
       [0.62759293, 0.37240707],
       [0.89053325, 0.10946675],
       [0.25094094, 0.74905906],
       [0.84334639, 0.15665361],
       [0.42506754, 0.57493246],
       [0.98926345, 0.01073655],
       [0.88474629, 0.11525371],
       [0.83101963, 0.16898037],
       [0.89475307, 0.10524693],
       [0.10833333, 0.89166667],
       [0.75946979, 0.24053021],
       [0.55003686, 0.44996314],
       [0.65977752, 0.34022248],
       [0.50713632, 0.49286368],
       [0.63537803, 0.36462197],
       [0.83466349, 0.16533651],
       [0.90953212, 0.09046788],
       [0.76420849, 0.23579151],
       [0.90917862, 0.09082138],
       [0.97905543, 0.02094457],
       [0.7367753 , 0.2632247 ],
       [0.93692308, 0.06307692],
       [0.13024689, 0.86975311],
       [0.20310472, 0.79689528],
       [0.0705619 , 0.9294381 ],
       [0.92561734, 0.07438266],
       [0.09457896, 0.90542104],
       [0.67447927, 0.32552073],
       [0.23229147, 0.76770853],
       [0.94142077, 0.05857923],
       [0.9378264 , 0.0621736 ],
       [0.49127534, 0.50872466],
       [0.49127534, 0.50872466],
       [0.12232381, 0.87767619],
       [0.86297519, 0.13702481],
       [0.19024059, 0.80975941],
       [0.8919934 , 0.1080066 ],
       [0.5742246 , 0.4257754 ],
       [0.94876677, 0.05123323],
       [0.78831401, 0.21168599],
       [0.88253128, 0.11746872],
       [0.78384745, 0.21615255],
       [0.45560234, 0.54439766],
       [0.45560234, 0.54439766],
       [0.71409229, 0.28590771],
       [0.92075841, 0.07924159],
       [0.22912333, 0.77087667],
       [0.55339281, 0.44660719],
       [0.94876677, 0.05123323],
       [0.95182945, 0.04817055],
       [0.91968655, 0.08031345],
       [0.53861036, 0.46138964],
       [0.93498531, 0.06501469],
       [0.31185822, 0.68814178],
       [0.97746667, 0.02253333],
       [1.        , 0.        ],
       [0.10356599, 0.89643401],
       [0.96917521, 0.03082479],
       [0.31468859, 0.68531141],
       [0.28948212, 0.71051788],
       [0.96220092, 0.03779908],
       [0.71229476, 0.28770524],
       [0.11311869, 0.88688131],
       [0.21601563, 0.78398437],
       [0.95      , 0.05      ],
       [0.57744174, 0.42255826],
       [0.9686014 , 0.0313986 ],
       [0.89053325, 0.10946675],
       [0.97356277, 0.02643723],
       [0.93367877, 0.06632123],
       [0.58198549, 0.41801451],
       [0.77105411, 0.22894589],
       [0.91126639, 0.08873361],
       [0.08084921, 0.91915079],
       [0.51702297, 0.48297703],
       [0.84949543, 0.15050457],
       [0.07295586, 0.92704414],
       [0.84039943, 0.15960057],
       [0.10195758, 0.89804242],
       [0.79404976, 0.20595024],
       [0.96558151, 0.03441849],
       [0.8638961 , 0.1361039 ],
       [0.57688515, 0.42311485],
       [0.98862949, 0.01137051],
       [0.16356123, 0.83643877],
       [0.8958    , 0.1042    ],
       [0.66062426, 0.33937574],
       [0.85130215, 0.14869785],
       [0.16380159, 0.83619841],
       [0.56909673, 0.43090327],
       [0.26481833, 0.73518167],
       [0.17558847, 0.82441153],
       [0.9814894 , 0.0185106 ],
       [0.05628919, 0.94371081],
       [0.07777622, 0.92222378],
       [0.05321911, 0.94678089],
       [0.93794664, 0.06205336],
       [0.1078181 , 0.8921819 ],
       [0.12569643, 0.87430357],
       [0.75090234, 0.24909766],
       [0.93849144, 0.06150856],
       [0.63237491, 0.36762509],
       [0.98215607, 0.01784393],
       [0.95514332, 0.04485668],
       [0.42831772, 0.57168228]])